* {
  bottom: 0;
  margin: 0;
  padding: 0;
}

ol {
  padding: 0 0 0 40px;
}

div {
  border-radius: 8px;
}

img {
  width: 100%;
  box-shadow: 0 2px 12px rgb(44 85 126 / 20%);
}

h2 {
}

p {
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.about-us {
  padding: 20px;

  max-width: 800px;
}

.about-us .title {
  text-align: center;
}

.about-us .text {
  margin-top: 20px;

  text-align: center;
}

.about-us .grid {
  margin-top: 20px;
  max-width: 800px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.my-works {
  margin-top: 20px;
  padding: 20px;
}

.my-works .title {
  text-align: center;
}

.my-works .grid {
  margin-top: 20px;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
