@import url("fonts/Roboto/font-roboto.css");

* {
    margin: 0px;
    padding: 0px;
    border: 0px;

    box-sizing: border-box;
}

ul[class],
ol[class] {
    list-style: none;
    list-style-type: none;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 75px;
}

.header .logo {
    height: 27px;
    width: 167px;
}

.header .nav-menu {
    display: flex;
    justify-content: space-between;

    width: 660px;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 410px;
}

.header li {
    height: 20px;
}

.header a {
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.header .info {
    width: 205px;

    border-left: #D01765 2px solid;
}

.header .phone {
    display: flex;
    justify-content: space-between;
}

.header .phone-img {
    margin-left: 5px;
}

.header .phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #D01765;
}


.header .work-time {

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #666666;
}

/* MAIN */

/* TITLE */

.title {
    margin: auto;

    padding-top: 100px;
    padding-left: 40px;

    height: 425px;
    width: 100%;
    max-width: 1200px;

    background-image: url(./images/background.png);
    background-position: center;
}

.title .title-title {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 45px;

    color: #FFFFFF;
}

.title .title-text {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.title .btn-sign-up {
    margin-top: 18px;
    margin-left: 10px;

    height: 65px;
    width: 272px;

    border-radius: 35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #D01765;
    background: #FFFFFF;
}

/* STUDIO */

.studio {
    margin: auto;

    height: 350px;
    width: 100%;
    max-width: 1200px;
}

.studio .studio-title {
    margin-top: 35px;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;


    color: #000000;
}

.studio .studio-box {
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 20px;
}


.studio .studio-box>div {
    display: flex;

    height: 60px;
    width: 190px;
}

.studio .card-img {
    height: 27px;
    width: 40px;

}

.studio .card-text {
    margin-left: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

/* OUR-WORKS */

.our-works {
    margin: auto;
    padding-top: 25px;

    max-width: 1200px;
}

.our-works .our-works-title {
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.our-works .our-works-images {
    margin-top: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;
}

.our-works .our-works-images>img {
    display: block;

    height: 200px;
    width: 300px;
}

.our-works .more-pictures {
    display: block;
    margin: 30px auto 0 auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;

    color: #D01765;

}

.our-works .btn-sign-up {
    margin: 30px auto 50px auto;

    display: block;

    width: 280px;
    height: 65px;

    background: #D01765;
    border-radius: 35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

/* REVIEWS */

.reviews {
    margin: auto;
    padding-top: 20px;

    max-width: 1100px;
    height: 400px;

    background: #EAEAEA;
    border-radius: 20px;
}

.reviews .reviews-title {
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.reviews .review-container {
    margin-top: 60px;
    height: 200px;

    display: flex;
}

.reviews .reviews-btn {
    margin: auto;

    width: 63px;
    height: 63px;

    background-color: #EAEAEA;
}

.reviews .reviews-btn-right>img {
    transform: scaleX(-1);
}

.review-card {
    display: flex;
    justify-content: space-between;

    height: 200px;
    width: 690px;
}

.reviews .review-logo {
    height: 120px;
    width: 120px;
}

.reviews .review-texts {
    width: 526px;
}

.reviews .review-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.reviews .review-text {
    margin-top: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

/* STUDIO AREAS */

.studio-areas {
    
    margin: 20px auto 0 auto;

    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    height: 550px;
}

.studio-areas .studio-areas-left {
    width: 550px;
}

.studio-areas .studio-areas-title {
    margin-top: 115px;
    margin-left: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

.studio-areas .studio-areas-text {
    margin-top: 30px;
    margin-left: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;

}

.studio-areas .studio-areas-img {
    height: 550px;
    width: 650px;
}

/* FOOTER */

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    
    max-width: 1200px;
}

.footer .footer-copyright {
    text-algin: center;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
