<main>
    <p>Вы прошли минимально-базовый курс по разработке сайта.</p>
    <p>
        Настоятельно рекомендуется ознакомиться со всеми материалами по ссылкам в хронологическом порядке</p>
    <p>
        https://www.youtube.com/watch?v=_R5a-Kc0pRc&list=PLDyJYA6aTY1nlkG0gBj96XDmDSC4Fy1TO</p>
    <p>
        https://www.youtube.com/watch?v=hft4XYApT44&list=PLDyJYA6aTY1meZ3d08sRILB46OJ-wojF2</p>
    <p>
        https://youtu.be/Hx4rWk1QMAY</p>
    <p>
        https://www.youtube.com/watch?v=baSHL10KBtM</p>
    <p>
        https://www.youtube.com/watch?v=2lIVl1j5Z64</p>
    <p>
        https://youtu.be/s86OWid0ErE</p>

</main>