{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body class="bg-light">
    <header class="bg-dark p-2">
        <div class="container">
            <nav class="navbar">
                <div class="container-fluid d-flex ">
                    <a class="text-light fs-5" href="{% url 'index' %}">Хабар (Будел логитип)</a>
                    <div class="d-flex gap-3">
                        <a class="btn btn btn-success text-white" href="{% url 'products' %}">Каталог </a>
                        <a class="btn btn btn-success text-white" href="#">Войти </a>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Профиль
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Вход</a></li>
                                <li><a class="dropdown-item" href="#">Регистрация</a></li>
                                <li><a class="dropdown-item" href="#">Призыв сатаны</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container mt-5 mb-5">
        <div class="d-flex flex-wrap justify-content-center gap-3">
            {% for product in products %}
            <div class="card">
                <a href="#" class="text-center">
                    <img src="{{ product.image }}" class="card-img-top" alt="">
                </a>
                <div class="card-body text-center">
                    <p class="card-title fs-4">{{ product.name}}</p>
                    <p class="card-subtitle fs-5">{{ product.price }} руб.</p>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="#" class="btn btn-primary">Отправить в корзину</a>
                </div>
                <!-- <div class="card-footer text-center"></div> -->
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>