<main>
    <h1>Урок 2 Медиа запросы и адаптивность</h1>
    <h2>Что такое медиа-запросы</h2>
    <p>Медиа-запросы (media queries) – это правила CSS, которые позволяют управлять стилями элементов в зависимости от
        значений технических параметров устройств. Иными словами, это конструкции, которые позволяют определять на
        основании некоторых условий какие стили необходимо использовать на веб-странице, а какие нет.</p>
    <p>Медиа-запросы предназначены для создания адаптивных дизайнов. Адаптивный дизайн отличается от других тем, что он
        может «приспосабливаться» (видоизменяться) в зависимости от того, какую ширину экрана имеет устройство

        (браузер).</p>
    <h2>Синтаксис</h2>
    <p>Создание медиа-запроса начинается с ключевого слова @media после которого указывается одно или несколько условий.
        В качестве условия можно указывать тип устройства или требования к определённой характеристике. Требование к
        определённой характеристике записывается в круглых скобках.</p>
    <p>Комбинирование нескольких условий выполняется с помощью логических операторов.</p>

    <p>После составления @media, стили, указанные в нём, будут применяться только в том случае, когда итоговый результат
        вычисления условий является истинной.</p>
    <p>Пример медиа-запроса с одним условием:</p>
    <img src="/assets/images/learn/chapter-3/lesson-2/img-1.png" alt="">
    <h2>Типы устройств</h2>
    <p>В @media можно указывать определённые типы устройств:</p>
    <ul>
        <li>all – для всех;</li>
        <li>print – для принтеров и в режиме предварительного просмотра страницы перед печатью;</li>
        <li>screen – для устройств с экранами;</li>
        <li>speech – для программ чтения с экрана.</li>
    </ul>
    <p>Например, этот @media только для экранов:</p>
    <img src="/assets/images/learn/chapter-3/lesson-2/img-2.png" alt="">
    <h2>Логические операторы</h2>
    <p>Логические операторы and, , (запятая), not и only предназначены для создания сложных медиа-запросов.</p>
    <p>and</p>
    <p>Оператор and используется для объединения нескольких условий. В этом случае их результат будет истинным, когда
        каждое из них будет истинным.</p>
    <p>Например, следующий @media будет применяться только при выполнении всех трёх условий (это экран, width >= 1200px
        и ориентация landscape):</p>
    <img src="/assets/images/learn/chapter-3/lesson-2/img-3.png" alt="">
    <h3>Медиа-характеристики</h3>
    <p>При составлении условия кроме типов устройств и логических операторов можно ещё задавать требования к
        определённым характеристикам, которые должен иметь браузер, устройство вывода, или окружение. В некоторых
        источниках характеристики называют медиа-функциями.</p>
<p>Каждая характеристика в @media должна быть заключена в круглые скобки.</p>
<p>При этом применяться стили указанные в @media будут также как раньше, т.е. только в том случае, когда результат вычисления всего выражения будет являться истиной.</p>
<h4>width</h4>
<p>Медиа-характеристика width позволяет задать условие на равенство ширины области просмотра определённому значению.</p>
<p>Например, применим CSS только для viewport с шириной 320px.</p>
<img src="/assets/images/learn/chapter-3/lesson-2/img-4.png" alt="">






</main>