<main>

<h2>Заголовок 1</h2>
<p>Текст 1</p>
<p>Текст 2</p>
<code>
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;
</code>
<code>
#include &lt;stdio.h&gt;

int main() {
    printf("Hello world!");
    retrun 0;
}
</code>
<img class="lesson-img" src="" alt="">

</main>