<main>

    <h1>Урок 3 Настройка структуы</h1>
    <p>
        В данном уроке мы с вами создадим папку проекта и добавим все необходимые папки и файлы проекта для
        разрабокти проекта.
    </p>

    <h2>1) Создание папки с проектом</h2>
    <div>
        <p>
            Первым делом нам нужно создать папку с проектом, в которой у нас будет находится всё(картинки,
            HTML, CSS, JS). Важное уточнение, все файлы и папки нужно называть на английском языке, так
            принято сообществом
        </p>
        <img src="/assets/images/learn/chapter-1/lesson-3/Папка с проектом.png" alt="">
    </div>

    <h2>2) создать структру проекта</h2>
    <div>
        <p>В папке Project_1 нам нужно создать все основные файлы, а именно index.html (В
            нём будем писать разметку сайта), папку img(в ней мы храним все изображения на сайте), папку
            css(в ней мы храним файл стилей для сайта, также создаём его в папке) и наконец папк js(в ней мы
            храним файл JavaScript, также создаём его в папке).
            Мы делаем такую структуру, чтобы всё всегда было на своих местах и мы не путались в файлах.
            Порядок во всём - ключ к успеху</p>
        <img src="/assets/images/learn/chapter-1/lesson-3/Структура.png" alt="">
        <img src="/assets/images/learn/chapter-1/lesson-3/Файл_стилей.png" alt="">
        <img src="/assets/images/learn/chapter-1/lesson-3/Жабаскрипт.png" alt="">
    </div>

    </div>
</main>