<main>
    <h1>Урок 1 Что такое вёрстка-создание сайтов?</h1>
    <p>Разработка сайта – это долгая и плодотворная работа,
        которая, как
        правило, разделена на несколько этапов.
        Начальный этап это разрабатка макета будущего сайта (как художник наносит на холст сначала черновые
        наброски, а потом уже их красит), который в последующем верстается. Верстка сайта – это
        преобразование готового макета в продукт, состоящий из языка разметки HTML и CSS.
        О том, что включает в себя верстка сайта и какие этапы проходит верстальщик, поговорим
        в этом уроке.
    </p>

    <h2>Что включает в себя верстка сайта?</h2>
    <p>Вёрстка сайта делится на несколько этапов, а именно:<br> 1&#41;
        Разработка чернового макета <br>2&#41; Разработка основного цветного макета <br> 3&#41; Написание
        HTML <br> 4&#41; Написание CSS <br> 5&#41; Написание JavaScript
    </p>

    <h2>1. Разработка чернового макета</h2>
    <p>Это создание в различных редакторах &#40;например Figma&#41; самого 1
        наброска сайта. Пример рисунок 1</p>
    <img src="/assets/images/learn/chapter-1/lesson-1/макет_черновик.png" alt="макет черновик">
    <p class="description">рисунок 1</p>
    <p>Данный этап предназначен для того, чтобы уже на этот макет сажать сам контент и
        вам не нужно было
        думать, а как будет смотреться эта картинка тут, тут или тут. Также данный макет служит первым
        материалом, который вы можете показать заказчику чтобы соглосавать саму структуру сайта и
        расположение контента на нём. Это 1 лёгкий, но довольно важный шаг в созаднии будущего сайта
    </p>

    <h2>2. Разработка основного цветного макета</h2>
    <p>Это уже само создание основного макета сайта, по которому мы в дальнейшем
        будем
        его делать &#40;сайт&#41;. На этом макете уже добавляются все материалы, которые будут на сайте
        цвета, картинки, шрифты, отступы, дизайн, блоки и т.д. Пример рисунок 2
    </p>
    <img src="/assets/images/learn/chapter-1/lesson-1/макет_основа.png" alt="макет основа">
    <p class="description">рисунок 2</p>
    <p>На данном этапе у нас уже есть полностью готовый макет. Который является полным
        отражением того, как будет выглядеть сайт. Макет является подробной инструкций для разработчика, как
        сделать сам сайт &#40;полный набор всей нужной информации&#41;
    </p>

    <h2>3. Написание HTML</h2>
    <p>Следующим пунктом является перенос структуры макеты в код. Тоесть, это
        разбитие элементов макета
        на состовляющие и перенос их в HTML структуру</p>
    <!-- <img src="" alt=""> -->
    <p class="description">ЖЕНИНА ВСТАВКА С КОДОМ, КОТОРАЯ ПРИНЯЛА ИСЛАМ, ВСТАВКИ ПОКА НЕ БУДЕТ</p>
    <p>HTML это язык разметки и он отвечает за фундамент сайта. Как запомнить, что
        за что отвечает?
        Очень просто, сейчас покажу на примере человеческого организма. HTML это наши с вами кости,
        тобишь скелет. CSS это внутренние органы, кожа, цвет челвоека и всё-всё составляющее. А
        JavaScript отвечает за движение тела человека. Всё просто
    </p>

    <h2>4. Написание CSS</h2>
    <p>Третий пункт это написание CSS или же каскадные таблицы стилей. CSS отвечает
        за краски, расположение элементов, стилизацию, настроку &#40;вспоминайте пример с человеком&#41;
        и т.д. Мы стилизуем наш HTML документ &#40;чтобы он стал выглядеть точь-в-точь как макет
        сделаный на шаге 2 &#41;
    </p>
    <!-- <img src="" alt=""> -->
    <p class="description">ЖЕНИНА ВСТАВКА С КОДОМ, КОТОРАЯ ПРИНЯЛА ИСЛАМ, ВСТАВКИ ПОКА НЕ БУДЕТ</p>
    <p>Пример CSS кода</p>

    <h2>5. Написание JavaScript</h2>
    <p>JavaScript - это язык программирования, созданный для интернета.
        Дело в том, что любой сайт, который вы открываете в своём браузере, — это обыкновенный текстовый
        документ.
        В середине 90-х компании захотели не только рекламировать товары и услуги, но и продавать их
        через интернет, в том числе и обеспечивать электронные банковские транзакции, а для всего этого
        нужно было сделать текстовые документы интерактивными. JavaScript овтечает за отработку на
        стороне клиента в реальном времени то есть. Любые нажатия на кнопки (не все, большую часть можно
        сделать с помощью HTML + CSS), скрывающиеся меню, баннеры, детальные анимации и многое другое
        это и есть JavaScript</p>
    <!-- <img src="" alt=""> -->
    <p class="description">ЖЕНИНА ВСТАВКА С КОДОМ, КОТОРАЯ ПРИНЯЛА ИСЛАМ, ВСТАВКИ ПОКА НЕ БУДЕТ</p>
    <p>Пример JavaScript кода</p>

</main>