<main>
    <h1>Урок 2 Подготовка к работе по созданию сайта</h1>
    <p>
        в данном уркое мы с вами подготовим всё самое необходимое для разработки сайта.
    </p>
    <h2>Среда разрабатки</h2>
    <p class="main__text-steps text-otstup">
        Для того, чтобы нам писать код, нам понадобится среда разрабокти. Существует двольно много различных
        сред разрабатки, но мы посоветуем начать с классики и это VS code <a
            href="https://code.visualstudio.com/download">ссылка для установки</a>
    </p>
    <h2>Настройка VS code</h2>
    <p>Первым делом нужно немного настроить VS code для работы. Все настройки вы
        можете посмотреть в интернете. Я же посоветую всего паррочку настроек это: русский язык и размер
        шрифта кода. Чтобы поставить русский язык нам нужно зайти в расширения(это такие 4 квадратика на
        левой ленте внизу) и написать rus. Нам выдаст расширение для VS code, которое принсоит в него
        великий и могучий. Нажимаем и скачиваем, после установки перезапускаем VS code.</p>
    <img src="/assets/images/learn/chapter-1/lesson-2/rus.png" alt="">
    <p>Далее для того, чтобы поменять размер шрифта текста вам нужно: нажать на
        шесеренку в нижнем левом углу->параметры->font-zise->ставим любое значение, которое вам нравится
    </p>
    <img src="/assets/images/learn/chapter-1/lesson-2/fzvsc.png" alt="" class="otstup-end-page">

</main>