<main>
    <h1>Урок 1 Что такое вёрстка-создание сайтов?</h1>
    <p>Разработка сайта – это долгая и плодотворная работа, которая, как
        правило, разделена на несколько этапов.
        Начальный этап это разрабатка макета будущего сайта (как художник наносит на холст сначала черновые
        наброски, а потом уже их красит), который в последующем верстается. Верстка сайта – это
        преобразование готового макета в продукт, состоящий из языка разметки HTML и CSS.
        О том, что включает в себя верстка сайта и какие этапы проходит верстальщик, поговорим
        в этом уроке.
    </p>

    <h2>Что включает в себя верстка сайта?</h2>
    <p>Вёрстка сайта делится на несколько этапов, а именно:<br>
        1) Разработка чернового макета <br>
        2) Разработка основного цветного макета <br>
        3) Написание HTML <br>
        4) Написание CSS <br>
        5) Написание JavaScript
    </p>

    <h2>1. Разработка чернового макета</h2>
    <p>Это создание в различных редакторах (например Figma) самого 1
        наброска сайта. Пример рисунок 1</p>
    <img src="/assets/images/learn/chapter-1/lesson-1/макет_черновик.png" alt="макет черновик">
    <p class="description">рисунок 1</p>
    <p>Данный этап предназначен для того, чтобы уже на этот макет сажать сам контент и
        вам не нужно было
        думать, а как будет смотреться эта картинка тут, тут или тут. Также данный макет служит первым
        материалом, который вы можете показать заказчику чтобы соглосавать саму структуру сайта и
        расположение контента на нём. Это 1 лёгкий, но довольно важный шаг в созаднии будущего сайта
    </p>

    <h2>2. Разработка основного цветного макета</h2>
    <p>Это уже само создание основного макета сайта, по которому мы в дальнейшем
        будем
        его делать (сайт). На этом макете уже добавляются все материалы, которые будут на сайте
        цвета, картинки, шрифты, отступы, дизайн, блоки и т.д. Пример рисунок 2
    </p>
    <img src="/assets/images/learn/chapter-1/lesson-1/макет_основа.png" alt="макет основа">
    <p class="description">рисунок 2</p>
    <p>На данном этапе у нас уже есть полностью готовый макет. Который является полным
        отражением того, как будет выглядеть сайт. Макет является подробной инструкций для разработчика, как
        сделать сам сайт (полный набор всей нужной информации)
    </p>

    <h2>3. Написание HTML</h2>
    <p>Следующим пунктом является перенос структуры макеты в код. Тоесть, это
        разбитие элементов макета
        на состовляющие и перенос их в HTML структуру</p>
        <pre><code data-language="html">
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;HTML&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Бифуркация русла&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
    <p class="description">ЖЕНИНА ВСТАВКА С КОДОМ, КОТОРАЯ ПРИНЯЛА ИСЛАМ, ВСТАВКИ ПОКА НЕ БУДЕТ</p>
    <p>HTML это язык разметки и он отвечает за фундамент сайта. Как запомнить, что
        за что отвечает?
        Очень просто, сейчас покажу на примере человеческого организма. HTML это наши с вами кости,
        тобишь скелет. CSS это внутренние органы, кожа, цвет челвоека и всё-всё составляющее. А
        JavaScript отвечает за движение тела человека. Всё просто
    </p>

    <h2>4. Написание CSS</h2>
    <p>Третий пункт это написание CSS или же каскадные таблицы стилей. CSS отвечает
        за краски, расположение элементов, стилизацию, настроку (вспоминайте пример с человеком)
        и т.д. Мы стилизуем наш HTML документ (чтобы он стал выглядеть точь-в-точь как макет
        сделаный на шаге 2)
    </p>
    <pre><code data-language="html">
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;HTML&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;p&gt;Бифуркация русла&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
    </code></pre>
    <p class="description">Пример CSS кода</p>

    <h2>5. Написание JavaScript</h2>
    <p>JavaScript - это язык программирования, созданный для интернета.
        Дело в том, что любой сайт, который вы открываете в своём браузере, — это обыкновенный текстовый
        документ.
        В середине 90-х компании захотели не только рекламировать товары и услуги, но и продавать их
        через интернет, в том числе и обеспечивать электронные банковские транзакции, а для всего этого
        нужно было сделать текстовые документы интерактивными. JavaScript овтечает за отработку на
        стороне клиента в реальном времени то есть. Любые нажатия на кнопки (не все, большую часть можно
        сделать с помощью HTML + CSS), скрывающиеся меню, баннеры, детальные анимации и многое другое
        это и есть JavaScript</p>
        <pre><code data-language="js">
// program to display the sum of natural numbers

// take input from the user
const number = parseInt(prompt('Enter a positive integer: '));

let sum = 0;

// looping from i = 1 to number
// in each iteration, i is increased by 1
for (let i = 1; i <= number; i++) {
    sum += i;
}

console.log('The sum of natural numbers:', sum);
        </code></pre>
    <p class="description">Пример JavaScript кода</p>

</main>