<main>
    <h1>Урок 1</h1>
    <h2>1. Основная разметка и её свойства</h2>
    <p>Основная разметка HTML выглядит так</p>
    <pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    <p>Она нужна, чтобы HTML документ работал и существовал.</p>
    <p>Теперь давайте разберёмся с тем, какие теги в разметке за что отвечают</p>
    
    <pre><code data-language="html">&lt;!DOCTYPE html&gt;</code></pre>
    <p>Элемент &lt;!DOCTYPE html&gt; предназначен для указания типа текущего документа
        — DTD (document type definition, описание типа документа). Это необходимо,
        чтобы браузер понимал, как следует интерпретировать текущую веб-страницу,
        поскольку HTML существует в нескольких версиях, кроме того, имеется XHTML 
        (EXtensible HyperText Markup Language, расширенный язык разметки гипертекста), 
        похожий на HTML, но различающийся с ним по синтаксису. Чтобы браузер «не путался» и 
        понимал, согласно какому стандарту отображать веб-страницу и необходимо в первой строке 
        кода задавать &lt;!DOCTYPE html&gt;</p>
        
    <pre><code data-language="html">&lt;html lang="en"&gt;</code></pre>
    <p>Является корневым элементом документа. Все остальные элементы содержатся внутри 
        &lt;html&gt;...&lt;/html&gt;. Все, что находится за пределами элемента, 
        не воспринимается браузером как HTML-код и никак им не обрабатывается.</p>
    
    <pre><code data-language="html">&lt;head&gt;
&lt;/head&gt;</code></pre>
    <p>содержит машиночитаемую информацию о документе, 
        например его заголовок, скрипты и страницы стилей.</p>
    <pre><code data-language="html">&lt;meta charset="UTF-8"&gt;
&lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;</code></pre>
    <p>Метатеги используются для хранения информации предназначенной для браузеров и поисковых 
        систем. Например, механизмы поисковых систем обращаются к метатегам для получения описания
        сайта, ключевых слов и других данных. На данный момент не забивайте голову ими, все теги есть
        в базовой разметке HTML, поэтому не надо их запоминать.</p>
    
    <h2>2. КАК СОЗДАТЬ БАЗОВУЮ РАЗМЕТКУ?</h2>
    <p>Чтобы создать базовую разметку HTML, нужно воспользоваться встроенным эмметом  написать ! и нажать enter</p>
    <pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    
&lt;/body&gt;
&lt;/html&gt;</code></pre>
    <p>Базовая разметка готова.</p>
</main>