<main>
    <h1>Урок 4 Семантическая вёрстка</h1>
    <p>Семантическая вёрстка — подход к разметке, который опирается не
        на содержание сайта, а на смысловое предназначение каждого блока и логическую структуру документа</p>
    <h2>Почему семантика важна?</h2>
    <p>Чтобы сделать сайт доступным. Зрячие пользователи могут без проблем с первого взгляда понять,
        где какая часть страницы находится — где заголовок, списки или изображения. Для незрячих или
        частично незрячих всё сложнее. Основной инструмент для просмотра сайтов не браузер, который
        отрисовывает страницу, а скринридер, который читает текст со страницы вслух.</p>
    <p>Этот инструмент «зачитывает» содержимое страницы, и семантическая структура помогает ему лучше
        определять, какой сейчас блок, а пользователю понимать, о чём идёт речь.
        Таким образом семантическая разметка помогает большему количеству пользователей взаимодействовать
        с вашим сайтом. Например, наличие заголовков помогает незрячим в навигации по странице. У скринридеров
        есть функция навигации по заголовкам, что ускоряет знакомство с информацией на сайте.</p>
    <p>Чтобы сайт был выше в поисковиках. Компании, которые создают поисковики, не разглашают правила ранжирования,
        но известно, что наличие семантической разметки страниц помогает поисковым ботам лучше понимать, что находится
        на странице, и в зависимости от этого ранжировать сайты в поисковой выдаче.</p>
    <h2>Основные семантические теги HTML?</h2>
    <p>Среди «старых» тегов из ранних версий HTML тоже есть семантические — например, тег
        &lt;p&gt;, который обозначает параграф. При этом теги &lt;i&gt; или &lt;b&gt; не семантические, потому что они
        не добавляют смысла
        выделенному тексту, а просто определяют его внешний вид. </p>
    <p>Но в актуальной версии стандарта HTML Living Standard есть семантические теги почти для всех основных частей
        сайта, и лучше пользоваться ими. Вот несколько примеров семантических тегов.</p>
    <p>&lt;article&gt;</p>
    <ul>
        <li>Значение: независимая, отделяемая смысловая единица, например комментарий, твит, статья, виджет ВК и так
            далее.</li>
        <li>Особенности: желателен заголовок внутри.</li>
        <li>Типовые ошибки: путают с тегами &lt;section&gt; и &lt;div&gt;.</li>
    </ul>
    <p>&lt;section&gt;</p>
    <ul>
        <li>Значение: смысловой раздел документа. Неотделяемый, в отличие от &lt;article&gt;.</li>
        <li>Особенности: желателен заголовок внутри.</li>
        <li>Типовые ошибки: путают с тегами &lt;article&gt; и &lt;div&gt;.</li>
    </ul>

    <p> &lt;aside&gt;</p>
    <ul>
        <li>Значение: побочный, косвенный для страницы контент.</li>
        <li>Особенности: может иметь свой заголовок. Может встречаться несколько раз на странице.</li>
        <li>Типовые ошибки: считать &lt;aside&gt; тегом для «боковой панели» и размечать этим тегом основной контент,
            который
            связан с окружающими его элементами.</li>
    </ul>

    <p>&lt;nav&gt;</p>
    <ul>
        <li>Значение: навигационный раздел со ссылками на другие страницы или другие части страниц.</li>
        <li>Особенности: используется для основной навигации, а не для всех групп ссылок. Основной является навигация
            или нет
            — на усмотрение верстальщика. Например, меню в подвале сайта можно не оборачивать в &lt;nav&gt;. В подвале
            обычно
            появляется краткий список ссылок (например, ссылка на главную, копирайт и условия) — это не является
            основной
            навигацией, семантически для такой информации предназначен &lt;footer&gt; сам по себе.</li>
        <li>Типовые ошибки: многие считают, что в &lt;nav&gt; может быть только список навигационных ссылок, но
            согласно спецификации там может быть навигация в любой форме.</li>
    </ul>
    <p> &lt;header&gt;</p>
    <ul>
        <li>Значение: вводная часть смыслового раздела или всего сайта, обычно содержит подсказки и навигацию. Чаще
            всего повторяется на всех страницах сайта.</li>
        <li>Особенности: этих элементов может быть несколько на странице.</li>
        <li>Типовые ошибки: использовать только как шапку сайта.</li>
    </ul>
    <p>&lt;main&gt;</p>
    <ul>
        <li>Значение: основное, не повторяющееся на других страницах, содержание страницы.</li>
        <li>Особенности: должен быть один на странице, исходя из определения.</li>
        <li>Типовые ошибки: включать в этот тег то, что повторяется на других страницах (навигацию, копирайты и так
            далее).</li>
    </ul>
    <p>&lt;footer&gt;</p>
    <ul>
        <li>Значение: заключительная часть смыслового раздела или всего сайта, обычно содержит информацию об авторах,
            список литературы, копирайт и так далее. Чаще всего повторяется на всех страницах сайта.</li>
        <li>Особенности: этих элементов может быть несколько на странице. Тег &lt;footer&gt; не обязан находиться в
            конце раздела.</li>
        <li>Типовые ошибки: использовать только как подвал сайта.</li>
    </ul>
    <h3>Как разметить страницу с точки зрения семантики?</h3>
    <p>Процесс разметки можно разделить на несколько шагов с разной степенью детализации.</p>
    <ul>
        <li>Крупные смысловые блоки на каждой странице сайта. Теги: &lt;header&gt;, &lt;main&gt;, &lt;footer&gt;.</li>
        <li>Крупные смысловые разделы в блоках. Теги: &lt;nav&gt;, &lt;section&gt;, &lt;article&gt;, &lt;aside&gt;.</li>
        <li>Заголовок всего документа и заголовки смысловых разделов. Теги: &lt;h1&gt;-&lt;h6&gt;.</li>
        <li>Мелкие элементы в смысловых разделах. Списки, таблицы, демо-материалы, параграфы и переносы, формы, цитаты,
            контактная информация и прогресс.</li>
        <li>Фразовые элементы. Изображения, ссылки, кнопки, видео, время и мелкие текстовые элементы.</li>
    </ul>
    <h3>Сомневаюсь, какие теги использовать?</h3>
    <p>Есть простые правила для выбора нужных тегов.</p>
    <ul>
        <li>Получилось найти самый подходящий смысловой тег — использовать его.</li>
        <li>Для потоковых контейнеров — &lt;div&gt;.</li>
        <li>Для мелких фразовых элементов (слово или фраза) — &lt;span&gt;.</li>
    </ul>
    <p>Правило для определения &lt;article&gt;, &lt;section&gt; и &lt;div&gt;:</p>
    <ul>
        <li>Можете дать имя разделу и вынести этот раздел на другой сайт? — &lt;article&gt; </li>
        <li>Можете дать имя разделу, но вынести на другой сайт не можете? — &lt;section&gt;</li>
        <li>Не можете дать имя? Получается что-то наподобие «новости и фотогалерея» или «правая колонка»? — &lt;div&gt;
        </li>
    </ul>
    <p>https://habr.com/ru/companies/htmlacademy/articles/546500/</p>

</main>