<main>
    <h1>Урок 2 Основные теги для работы</h1>
    <p>
        В данном уроке будут перечислены основные теги для работы с HTML
    </p>
    <h3>Что такое HTML-тег?</h3>
    <p>Тег — это специальное служебное слово, заключенное в угловые скобки.
         Его ещё называют «элемент HTML». Тегов в языке HTML много и каждый что-то
          делает с контентом, который обычно находится внутри скобок или между тегами.
        Если тег парный, то тегу &lt;ТЕГ&gt; соответствует &lt;/ТЕГ&gt;.
    </p>
    <h3>Парными являются все теги?</h3>
    <p>Нет, не все. Существуют одиночные теги, например, &lt;img&gt; — для изображений.
        В этом случае контент вместе с другими служебными словами (например, для <img> 
        это может быть src=”url изображения”) размещается между скобками, но после 
        слова img. (https://habr.com/ru/companies/vdsina/articles/500190/)</p>
    <p>Пример использования тега: &lt;p&gt;Привет&lt;/p&gt;</p>
    <h2>Основные теги HTML и их описание</h2>
    <h3>Парные теги</h3>
    <p>&lt;p&gt; - Определяет текстовый абзац. Тег &lt;p&gt; является блочным элементом,
         всегда начинается с новой строки. Если закрывающего тега нет, считается,
          что конец абзаца совпадает с началом следующего блочного элемента. (http://htmlbook.ru/html/p)</p>
    <p>&lt;strong&gt; - Предназначен для акцентирования текста. Браузеры отображают
         такой текст жирным начертанием(выделяет текст жирным) (http://htmlbook.ru/html/strong).</p>
    <p>&lt;h1&gt;&lt;/h1&gt;......&lt;h6&gt;&lt;/h6&gt;. — теги заголовков, от самого большого к самому маленькому. 
        (https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami)</p>
    <p>&lt;em&gt; - Тег предназначен для акцентирования текста. Браузеры отображают такой 
        текст курсивным начертанием(текст будет  написан курсивом)( http://htmlbook.ru/html/em).</p>
    <p>&lt;div&gt; - это своего рода коробка, в которой мы храним различные элементы(теги) и структурируем
        их с использованием блока. Один из самых многочисленных тегов на сайте</p>
    <p>&lt;header&gt;  - Тег &lt;header&gt; задает «шапку» сайта или раздела, в которой обычно располагается заголовок. (http://htmlbook.ru/html/header)</p>
    <h3>Одиночные теги</h3>
    <p>
        &lt;hr&gt; — горизонтальная линия
    </p>
    <p>&lt;img&gt; — изображение (фотография, картинка, рисунок и т.д.)</p>
    <p>
        &lt;link&gt; — загружает внешние файлы .css, .xml
    </p>
    <p>
        &lt;source&gt; — внедряет аудио/видео файлы, с помощью тегов audio и video
    </p>
    <p>&lt;br&gt; — перевод строки</p>
    <p>(https://gabdrahimov.ru/html-tegi-odinochnye)</p>

</main>