<main>
    <h1>Урок 2 Основные теги для работы</h1>
    <p>Перед тем, как начать верстать сам сайт, необходимо разбить его на блоки, чтобы его структуру было проще перенести в HTML. Как это выглядит и как это сделать, разберёмся в этом уроке.</p>
    <p>Для начала посмотрим, как это выглядит.</p>
    <img src="/assets/images/learn/chapter-2/lesson-3/img-1.png" alt="">
    <p>Довольно много разных блоков. На данном скриншоте мы разбиваем макет на различные блок для удобной верстки, понимание этой темы придёт с практикой и временем.</p>
    <p>Как понять, что и когда разбивать?</p>
    <p>*В разработке*</p>
</main>