
h1 {
    font-size: 92px;
    font-weight: bolder;
    color: rgb(214, 11, 11);
}

/* 
.head {
    background-color: rgb(48, 45, 45);
    color: white;
}

body {}

a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

.mar {
    margin-left: 15px;
}

.right {
    text-align: right;
}

.store {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 900;
}

.txt-iron {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
}

.mar2 {
    margin-left: 100px;
}

.bgg {
    background-image: url(/static/img/Железный_лес_45.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-width {
    width: 500px;

}

.bg-form {
    background-color: #c6d5e9;
}

.form-dolg {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.profil-m-left {
    margin-left: 12px;
}

.orders {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 64px;
}

 .promotion {
    font-weight: 400;
    line-height: 1.5;

    color: #ffffff;
    -webkit-text-stroke: 0.5px rgba(0,0,0,0.5);
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
}  */