body {
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;

}


/* INDEX HTML */

.bgg {
    background-image: url(/static/img/index-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;

    /* -webkit-text-stroke: 0.5px rgb(0, 0, 0); */
}

/* Остальное */

/* 

.head {
    background-color: rgb(48, 45, 45);
    color: white;
}

h1 {
    font-size: 92px;
    font-weight: bolder;
    color: rgb(214, 11, 11);
}

.store {
    font-size: 2rem;
    font-weight: 900;
}

.mar2 {
    margin-left: 100px;
}


.form-width {
    width: 500px;

}

.bg-form {
    background-color: #c6d5e9;
}

.form-dolg {
    padding: 10px;

    background-color: #fff;
    border-radius: 10px;
}

.profil-m-left {
    margin-left: 12px;
}

.orders {
    margin-top: 80px;

    display: flex;
    justify-content: center;

    font-size: 64px;
}

.promotion {
    font-weight: 400;
    line-height: 1.5;

    color: #ffffff;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
    font-size: 26px;
} */






